
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        
    }
    .header .container {
        gap: 30px;
        /* align-items: center; */
    }
    .bg-header-hero-box{
        max-width: 1070px;
        max-height: 680px;
        background-image: var(--bg-gradient), url(../img/hero-img-desc-1x.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .bg-header-hero-box{
        background-image: var(--bg-gradient), url(../img/hero-img-desc-2x.jpeg);
        }
    }



    .nav-contacts-box{
        display: flex;
        align-items: center;
        gap: 245px;
        padding-left: 100px;
        padding-top: 38px;
        padding-right: 15px;
    }

    .nav-list{
        
        gap: 30px;
    
    }

    .header-contacts{
        
        flex-direction: row-reverse;
        align-items: center;
        gap: 40px;
    }

/* ---------------------------section-hero--------------------- */

    .section-hero{
        padding-left: 100px;
        padding-top: 197px;
        padding-bottom: 208px;
    }
    .hero-title{
        font-size: 72px;
        letter-spacing: 3.6px;
    }
    .second-hero-pre-title{
        max-width: 361px;
    }

     /* ===================section-about=================== */

    .section-about,
    .section-prices,
    .section-traditional, 
    .section-barbers,
    .section-gallery{
        
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-about-list{
        
        flex-direction: row;
    }
    .section-about-item{
        min-width: 270px;
        min-height: 445px;
    }

    .section-about-box{
        max-width: 470px;
    }
    .section-about-title {
        font-size: 42px;
        letter-spacing: 2.1px;
    }

    /* ===================section-prices=================== */

    .section-prices{
    max-width: 1600px;

    background-image: url(../img/bgImg-prices-desc-1x.png);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .section-prices{
            
            background-image: url(../img/bgImg-prices-desc-2x.png);
            }
    .prices-list-box{
        flex-direction: row;
        gap: 30px;
    }
    .prices-list-box{
        background-image: none;
        padding: 0;
    }
    
    .prices-list{
        width: calc((100% - 30px) / 2);
        padding: 30px 20px;
        
    }
    .prices-list:first-child{
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
        
    }
    .prices-list:last-child{
        background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.20) 100%);
    }
    }

    /* =====================sectijn-traditional========================== */

    .section-traditional .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 130px;
    }
    .section-traditional-box{
        margin-bottom: 0;
    }
    .traditional-list-item{
        
        width: 170px;
        
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .traditional-list{
        max-width: 370px;
        margin-left: 0;
    }

    /* =======================section-barbers======================= */

    .barbers-list{
    
        flex-direction: row;
        gap: 30px;
    }
    .barbers-list-item{
        width: calc( (100% - 60px) / 3);
    }

   /* ================section-online-form====================== */ */

    .online-form-input.online-item{
        width: 270px;
}

}