
@media screen and (max-width: 319px)  {
    .hero-title{
        font-size: 38px;
    }
}


@media screen and (max-width: 767px) {
    .nav-list,
    .header-contacts,
    .sidebar-soc-box {
        display: none;
    }


    .section-about-list {
        display: none;
    }

    .section-about-box .section-about-text{
        font-size: 16px;
    }
    .online-form .button{
        display: block;
        margin: 0 auto;
    }

}


.container {

    max-width: 448px;
    
}
.header .container {
    
    
    padding-top: 40px;
    
}
.bg-hero-mob{
    

    background-image: var(--bg-gradient), url(../img/hero-img-mob-1x.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bg-hero-mob{
        background-image: var(--bg-gradient), url(../img/hero-img-mob-2x.jpeg);
        }
    }

    /* text-align: start; */



    /* @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-hero-box {
        background-image: var(--bg-gradient), url(../img/hero-img-mob-2x.jpeg);
    }
} */
.mob-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/* ==================logo====================== */
.logo {
    width: 67px;
    height: 55px;
}

.menu-btn{
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.logo,
.menu-icon {
    fill: var(--white-color);
}

.nav-contacts-box{
    display: none;
}

/* =====================section-hero================= */


.section-hero{
    
    padding-top: 112px;
    padding-bottom: 209px;
}
.section-hero-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* =====================pre-title===================== */
.pre-title{
    display: flex;
    align-items: center;
    gap: 20px;
    
    font-family: inherit;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    

}


.pre-title-first{
    color: var(--white-color);
}
.pre-title-second{
    color: var(--pre-title-color);
}
.pre-title-third{
    color: var(--black-color);
}
.pre-title::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}
.section-contacts .pre-title,
.section-barbers .pre-title{
    margin-bottom: 20px;
}
.section-contacts .pre-title::before{
    background-color:#9DA4BD66;
}




/* .pre-title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.first-pre-title-box{
    
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.60);

}
.first-pre-title{
    font-family: inherit;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    color: var(--pre-title-color);
} */
/* =================================================== */

.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}
.hero-title{
    font-size: 48px;
    letter-spacing: 2.4px;

    color: var(--white-color);
}
.second-hero-pre-title{
    max-width: 321px;
    
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625; 
    letter-spacing: 0.32px;
    }

/* ===================section-about=================== */

    .section-about,
    .section-prices,
    .section-traditional, 
    .section-barbers,
    .section-gallery,
    .section-online-form,
    .section-contacts{
        padding-top: 84px;
        padding-bottom: 84px;
    }

    .section-about-box,
    .prices-title-box,
    .section-traditional-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .section-about-box{
        margin-bottom: 40px;
    }

    .black-title .first-pre-title{
        color: var(--black-color);
    }
    .black-title .first-pre-title-box {
        background-color: var(--black-color);

    }
   
    .section-about-title{
        
        font-size: 28px;
        letter-spacing: 1.4px;
        color: var(--black-color);
    }

    .section-about-text,
    .section-about-desc {
        
        font-family: inherit;
        font-weight: 400;

        color: var(--desc-color);
    }
    .section-about-text{
        line-height: 1.625;
        letter-spacing: 0.32px;
    }
    .section-about-desc{
        font-size: 14px;
        line-height: 1.857;
        letter-spacing: 0.28px;

    }
    .button{
        
        min-width: 160px;
        height: 40px;
        padding: 12px 20px;
        border-radius: 25px;
        border: 1px solid var(--accent-color);

        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.08px;
        text-transform: uppercase;

        color: var(--black-color);
        background-color: transparent;
    }

     /* ===================section-prices=================== */
    
    .section-prices{
        max-width: 480px;
        margin: 0 auto;

        background-color: #111319;
        background-image: url(../img/img-prices-mob-1x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .section-prices{
            
            background-image: url(../img/bgImg-prices-mob-2x.png);
            }
    }
    
    .prices-title-box,
    .prices-list-box,
    .section-traditional-box,
    .section-barbers .section-about-title{
        margin-bottom: 44px;

    }
    .section-prices-title{
        font-size: 40px;
        letter-spacing: 2px;
        color: var(--white-color);
    }
    .prices-list,
    .prices-list-box{
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    .prices-list-box{
        padding: 30px 40px;
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);

    }

    .prices-list-item{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 4px;
    }
    .prices-list-item::before{
        content: "";
        /* width: 100px; */
        height: 1px;
        background-color: rgba(157, 164, 189, 0.12);
        flex-grow: 1;
    }
    .prices-list-text:first-child{
        order: -1;
    }
    .prices-list-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.429;
        letter-spacing: 0.28px;

    }
    .section-prices .button{
        display: block;
        margin: 0 auto;
        color: var(--white-color);
    }

/* =====================section-traditional========================== */

.section-traditional-box .section-about-title,
.section-barbers .section-about-title{
    font-size: 42px;   
}

.traditional-list{
    display: flex;
    flex-wrap: wrap;
}

.traditional-list-item{
    /* display: block; */
    width: 194px;
    height: 133px;
    padding: 20px 36px;
    background-color: var(--bc-traditional-item-box);
    text-align: center;
}
.traditional-list-item:nth-child(odd){
    margin-right: 30px;
}
.traditional-list-item:nth-child(even){
    margin-top: 30px;
}

.traditional-span,
.traditional-text{
    
    font-family: inherit;
    letter-spacing: 2.1px;
    

    color: var(--black-color);
}
.traditional-span {
    font-size: 42px;
    font-weight: 700;

}
.traditional-text{
    font-size: 11px;
    font-weight: 600;
}
/* =======================section-barbers======================= */
.section-barbers{
    background-color: var(--bc-section-barbers);
    
}

.section-barbers .pre-title-box{
    margin-bottom: 20px;
}
.barbers-list{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.barbers-list-item{
    max-width: 418px;
}
.barbers-img,
.team-card-text{
    margin-bottom: 30px;
}

.team-card-title,
.team-card-text{
    
    font-family: inherit;
    text-align: center;
    font-weight: 400;
    
}
.team-card-title{
    margin-bottom: 8px;
    
    font-size: 18px;
    letter-spacing: 0.36px;
    color: var(--black-color);
}
.team-card-text{
    font-size: 14px;
    letter-spacing: 0.28px;
    color: var(--accent-color);
}

/* =======================soc-list======================= */
.soc-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.soc-list-item{
    width: 44px;
    height: 44px;
    
}

.soc-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--white-color);
    fill: var(--black-color);
}

.soc-list-link:hover .soc-icon,
.soc-list-link:focus .soc-icon
.soc-list-link:active .soc-icon{
    fill: var(--accent-color);
}

/* ==========================section-gallery====================== */
.section-gallery .pre-title{
    margin-bottom: 71px;
}

.gallery-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.gallery-list-item {
    max-width: 418px;
    max-height: 360px;
}

/* =====================section-online-form======================= */

/* .section-online-form{
    background-color: var(--bc-online-form);
} */

.online-form-title,
.section-contacts-title{
    
    font-size: 42px;
    letter-spacing: 2.1px;
    text-align: center;
    color: var(--white-color);
}
.online-form-title{
    margin-bottom: 44px;
}
.online-item{
    width: 100%;
    border: none;
    border-bottom: 1px solid  var(--online-form-color);
    background-color: transparent;
    margin-bottom: 44px;
    padding-bottom: 8px;
    outline: transparent;
    color: var(--white-color);
    transition: border-color 300ms linear;

}
.online-item::placeholder{
    
    font-family: inherit;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    transition: color 300ms linear;
}
.online-item:focus{
    border-color: var(--white-color);
}
.online-item:focus::placeholder{
    color: var(--white-color);
}

.online-form-input{
    
    height: 24px;  
}
.online-text{
    min-height: 76px;
    resize: none;
}


.online-form .button{
    
    color: var(--white-color);
}

/* ======================section-contacts======================== */

.online-contacts-box{

    max-width: 480px;
    margin: 0 auto;

   
    background-color: var(--bc-online-form);
    background-image: url(../img/bcImg-contacts-mob-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 480px 496px;
    background-position: right bottom;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .online-contacts-box{
        
        background-image: url(../img/bcImg-contacts-mob-2x.png);
        }
}

.section-contacts-title{
    margin-bottom: 40px;
}
.section-contacts-list{
    margin-bottom: 44px;
}
.section-contacts-item:not(:last-child){
    margin-bottom: 20px;
}
.section-contacts-link{
    display: flex;
    align-items: center;
    gap: 16px;
}

.contacts-icon{
    stroke: var(--section-contacts-cololr);
}
.contacts-desc,
.contacts-box-text{
    
    font-family: inherit;
    font-weight: 400;
    line-height: 1.67; 
    letter-spacing: 0.36px;
    color: var(--section-contacts-cololr);
}
.section-contacts-item:first-child .contacts-desc{
    font-weight: 700;
}

.section-contacts-item:last-child .contacts-desc{
    text-decoration: underline;
}




@media screen and (min-width: 480px) {
    
    
}


@media screen and (min-width: 480px) and (max-width: 767px){

} 