@media screen and (min-width: 768px) and (max-width: 1199px) {

}



@media screen and (min-width: 768px) {

    .container {
        max-width: 720px;
        
    }
    .section-hero{
    
        padding-top: 156px;
        padding-bottom: 237px;
    } 
    .header .container {
        display: flex;
        gap: 39px;
        padding-top: 0px;
        
        align-items: start;
    }
    .bg-hero-mob{
        background-image: none;
    }
    /* ----------------------sidebar--------------------- */
    .sidebar-box{
        display: flex;
        flex-direction: column;
        gap: 282px;
        padding-top: 32px;
        padding-bottom: 40px;
        
    }

    .logo {
        fill: #303030;
    }
    
    .menu-btn{
            display: none;
        }

    .sidebar-soc-box{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }
    .sidebar-list{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 40px;
        
    }
    .sidebar-box .rectangle{
        width: 1px;
        height: 60px;  
        background-color: var(--black-color);
        
    }

    .sidebar-item{
        
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: inherit;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 2.2px;
        
        color: var(--black-color);
        transform: rotate(-90deg);

    }
    .nav-list-link {
        
    }
   
    .bg-header-hero-box{
        
        min-width: 573px;
        height: 680px;

        background-image: var(--bg-gradient), url(../img/hero-img-tab-1x.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .bg-header-hero-box{
        background-image: var(--bg-gradient), url(../img/hero-img-tab-2x.jpeg);
        }
    }
    .nav-contacts-box{
        display: flex;
        align-items: baseline;
        gap: 45px;
        padding-left: 19px;
        padding-top: 40px;
    }
    .nav-list{
        display: flex;
        flex-direction: row;
        gap: 20px;
    
    }
    .nav-list-item{
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
       
    }
    .nav-list-link{
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;
        color: var(--white-color);
        text-decoration: none;

    }

    .header-contacts{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .header-contacts-btn{
        
        padding: 12px 20px;
        background-color: transparent;
        border-radius: 25px;
        border: 1px solid var(--accent-color);

        letter-spacing: 1.08px;
    }
    .header-contacts-link{
        letter-spacing: 1.2px;
    }

    .header-contacts-btn,
    .header-contacts-link{
        
        
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: var(--white-color);
    }


    /* ---------------------------section-hero--------------------- */

    .section-hero{
        padding-left: 97px;
        padding-top: 156px;
        padding-bottom: 237px;
    }
    .second-hero-pre-title{
        max-width: 360px;

        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.36px;

    }

     /* ===================section-about=================== */

    .section-about{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .section-about-text{
        line-height: 1.667;
        letter-spacing: 0.36px;
    }


}